#content {
  max-width: 760px;
  margin: 5% auto;
}

body {
  background-color: #767676;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0;
}

header {
  background-color: #0e2e49;
  text-align: center;
  padding: 10px;
}

img {
  width: 200px;
  border-radius: 8px;
  object-fit: cover;
}

main {
  background-color: #00668a;
  padding: 3px;
}

h1,
h2 {
  font-family: "Playfair Display";
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}

footer {
  background-color: #0e2e49;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

a:link {
  color: #fac705;
}

a:visited {
  color: #fac705;
}

ul li {
  line-height: 2em;
}
