/*large view*/
@media only screen and (min-width: 60em) {
  body {
    font-size: 16pt;
  }
  h1 {
    font-size: 2rem;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .logo {
    width: 120px;
  }
  /*styling for home page town cards*/
  div.home-town-cards section {
    padding: 0;
  }
  div.home-town-cards section .town-text-area {
    grid-column: unset;
    position: unset;
    top: 0rem;
    font-size: 0.6rem;
  }
  div.home-town-cards section img {
    margin-top: 2rem;
  }
  div.home-town-cards section#town2 .town-text-area {
    margin-top: -6rem;
  }
  div.home-town-cards section#town2 img {
    margin-top: 7.5rem;
    grid-column: unset;
    padding-left: 0;
    position: unset;
    bottom: 0rem;
    padding-bottom: 0.7rem;
  }
  div.home-town-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #town1 {
    grid-column: 1;
    grid-row: 1;
  }
  #town2 {
    grid-column: 2;
    grid-row: 1;
  }

  #town3 {
    grid-column: 3;
    grid-row: 1;
  }
  div.home-town-cards section {
    display: block;
    align-items: center;
    justify-content: center;
  }
  /*styling for weather summary*/
  .weather-summary li {
    line-height: 1.4rem;
  }
  /*styling for town 5 day forecast*/
  .five-day-forecast {
    margin-top: 1.4rem;
    top: -14.9rem;
  }
  .town-events-container {
    bottom: 15rem;
    padding-top: 2.5rem;
  }
  /*styling for town article*/
  .article-container {
    margin-top: -12em;
  }
  /*styling for gallery images - 3 columns in large media query*/
  .gallery-container {
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .gallery-image-container:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .gallery-image-text {
    font-size: 0.7em;
    text-align: center;
    padding: 0 0 0.5em 0;
  }
  /*styling for storm center page*/
  form legend {
    font-size: 1.75rem;
  }
  form label,
  form label input,
  form label select,
  div.danger p {
    font-size: 1.6rem;
  }
  form input.submitBtn {
    font-size: 1.8em;
  }

  main,
  footer {
    max-width: 960px;
    margin: 0 auto;
  }
  .contact-container {
    font-size: 1.5em;
  }
}
