/*large view*/
@media only screen and (min-width: 60em) {
  body {
    font-size: 16pt;
  }
  header {
    padding-top: 2.5%;
    padding-bottom: 3.5%;
  }
  h1 {
    font-size: 2rem;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .logo {
    max-width: 5rem;
  }
  .logo-credit {
    font-size: 8pt;
    text-align: center;
  }
}
