/*small view - styles start here and progress to larger viewports*/
body {
  max-width: 960px;
  text-align: center;
  margin: auto;
  background-color: rgb(255, 255, 248);
  font-family: PT sans-serif;
  font-size: 12pt;
}
header {
  background-color: #fdd900;
  padding-top: 1%;
  padding-bottom: 1%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li a {
  display: block;
  background-color: #3e54b8;
  color: white;
  white-space: nowrap;
  text-align: center;
  border: solid;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
}
h1,
h2,
h3 {
  font-family: Noto serif;
}
a:hover {
  background-color: #9c5126;
  color: white;
}
p {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}
.logo {
  max-width: 3rem;
}
.logo-credit {
  font-size: 6pt;
  text-align: center;
}
.moto {
  text-align: center;
  font-weight: bold;
}
footer {
  font-family: Noto serif;
  font-size: 10pt;
  background-color: #26aaf7;
  color: black;
  font-weight: bolder;
  padding: 0.75%;
}
footer p {
  text-align: center;
}
/*css specific to index.html*/
#domain-name {
  font-weight: bolder;
}
/*css specific to color-scheme.html*/
.site-header-color {
  background-color: #fdd900;
}
.primary-navigation {
  background-color: #3e54b8;
  color: white;
}
.primary-navigation:hover {
  background-color: #9c5126;
}
.site-footer-color {
  background-color: #26aaf7;
  font-family: Noto serif;
}
/*css specific to target-audience.html*/
.tourist-link {
  font-weight: bolder;
}
